.list-container {
  margin-top: 10px;
  width: 50%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  
  border: 1px solid #ddd;
}

tr {
  cursor: pointer;
}

tr:hover {
  background-color: #f3f4f6;
}

tr.active {
  background-color: #2563eb;
  color: white;
}